@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: #000!important;
    color: #fff !important;
    font-family: 'Pacifico', cursive;
}

.main {
    width: 100%;
    height: 75vh;
    background: url('/assets/img/catrina-main.jpg')no-repeat center;
    display: flex;
    margin: 0;
    padding: 0;
}

.main .text-wall {
    color: lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    text-align: center;
}

.main .sombra {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
}

#QSomos {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QSomos img {
    width: 50px;
    height: 50px;
}

#NTrabajo {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NTrabajo img {
    width: 50px;
    height: 50px;
}

.contenedorAno {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorAno div {
    width: 50%;
    height: 60%;
    background: #fd0002;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
}

#NClientes {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NClientes img {
    width: 50px;
    height: 50px;
}

#Contacto {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contacto img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #fd0002;
}

.txtQSomos {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: italic;
}

.txtCreadoras {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.txtContacto {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


/* Boton Hover */

.btnAno {
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 36px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.btnAno::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

.btnAno.rounded {
    border-radius: 50px;
    padding: 3px;
}

.btnAno.rounded .text-green {
    color: #00f0b5;
    mix-blend-mode: difference;
}

.btnAno.rounded::before {
    border-radius: 50px;
    width: 25%;
    background: #fd0002;
}

.btnAno.rounded:hover::before {
    background: #fd0002;
    width: 100%;
}


/* Fin Boton Hover */


/* Boton WhatsApp */

.fijo {
    position: relative;
    z-index: 5;
}

.fijo .btn-circular {
    width: 75px;
    height: 75px;
    position: fixed;
    border-radius: 50%;
    background: #00bb2d;
    left: 90%;
    top: 85%;
}

.fijo .btn-circular:hover {
    box-shadow: 0px 0px 5px 1px #979797;
}

.fijo .btn-circular a {
    display: inline-block;
    width: 75px;
    height: 75px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.fijo .btn-circular .fa {
    font-size: 45px;
    line-height: 73px;
    left: 15px;
}


/* Servicios */

.text-servicios {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.text-servicios:hover {
    color: #fd0002;
    text-decoration-line: underline;
}


/* Imagen Galeria */

.imagen-contenedor {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-contenedor .marco {
    width: 75%;
    height: 75%;
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-contenedor .marco div {
    width: 80%;
    height: 80%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-contenedor .marco div img {
    width: 100%;
    height: 100%;
}

.imagen-contenedor .marco:hover {
    filter: blur(2px);
}